.banner-customizable {
  background-color: transparent;
  color: #ffffff;
  padding: 20px 0;
  text-align: center;
}

.background-customizable {
  /* background-image: url("https://charshard.s3.us-east-1.amazonaws.com/charshard_bg_1.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; */
  font-family: sans-serif;
  box-shadow: 0 0 0 10000px #070000;
  padding: 20px;
}

.logo-customizable {
  border-radius: 15px;
}

.inputField-customizable {
  width: 100%;
  height: 34px;
  margin-bottom: 1.5em;
  color: #1e2a38;
  background-color: #ffffff;
  border: 1px solid #c7d2e5;
}

.inputField-customizable:focus {
  border-color: #7b9bc1;
  outline: 0;
}

.textDescription-customizable {
  font-size: 16px;
  color: #1e2a38;
  padding-top: 10px;
  padding-bottom: 10px;
  display: block;
}

.label-customizable {
  font-weight: 500;
  color: #1e2a38;
}

.submitButton-customizable {
  font-size: 14px;
  font-weight: bold;
  margin: 20px 0 10px 0;
  height: 40px;
  width: 100%;
  color: #1e2a38;
  background-color: #c7d2e5;
  border: none;
}

.submitButton-customizable:hover {
  background-color: #b3c1db;
}

.redirect-customizable {
  margin-top: 10px;
  text-align: center;
  color: #1e2a38;
}

.legalText-customizable {
  color: #1e2a38;
  font-size: 11px;
  text-align: center;
  margin-top: 20px;
}

.errorMessage-customizable {
  padding: 5px;
  font-size: 14px;
  width: 100%;
  background: #f5f5f5;
  border: 2px solid #d64958;
  color: #d64958;
}

.passwordCheck-valid-customizable {
  color: #19bf00;
}

.passwordCheck-notValid-customizable {
  color: #df3312;
}
